/* GENERAL RULES */

$darkMidnightBlue: #004d99;
html,
body {
    height: 100%;
}

* {
    font-family: Amiko;
}

.main {
    height: 90%;
}


/* RULES */

.chest {
    border: 1px solid lightgray;
    border-radius: 5px;
}


/* CHAT */

#messages {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 82%;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    .message {
        padding: 5px 10px;
    }
    .alert {
        margin: 7px 0px;
    }
    .author {
        font-size: 1.1em;
        font-weight: bold;
    }
    .message:nth-child(odd) {
        background-color: $darkMidnightBlue;
        color: white;
    }
}

#isTyping {
    font-weight: bold;
    color: grey;
}

#message-input-form {
    margin-top: 10px;
}


/* The animation code */

.newMessage {
    animation-name: appear;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}

@keyframes appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


/* SIGNIN AND SIGNUP */

.sign-form {
    border: 1px solid lightgrey;
    border-radius: 5px;
}
