<nav class="navbar navbar-inverse navbar-fixed-top" style="border-radius: 0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-header" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ArcadiaA</a>
    </div>
    <div class="collapse navbar-collapse" id="collapse-header">
      <ul class="nav navbar-nav">
        <li><a href="/chat"><i class="fa fa-commenting-o" aria-hidden="true"></i> Chat</a></li>
        <li><a href="/polls"><i class="fa fa-pie-chart" aria-hidden="true"></i> Sondages</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if login}}
          <li><a href="/user/profile"><i class="fa fa-user-o" aria-hidden="true"></i> {{ username }}</a></li>
          <li><a href="/auth/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a></li>
          {{ else }}
          <li><a href="/auth/signup"><i class="fa fa-user-plus" aria-hidden="true"></i> Inscription</a></li>
          <li><a href="/auth/signin"><i class="fa fa-user" aria-hidden="true"></i> Connexion</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
