body, html {
  height: 100%;
}

body {
  padding-top: 60px;
}

.main {
  height: 100%;
}

* {
  font-family: Lato;
}

.chat-container, .messages-container {
  height: 100%;
}

#messages {
  height: 86%;
  overflow: auto;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

#messages .message {
  padding: 5px 10px;
}

#messages .author {
  font-size: 1.1em;
  font-weight: bold;
}

#messages .message:nth-child(odd) {
  background-color: #004d99;
  color: white;
}

#messageInput {
  resize: none;
}

.isTypingContainer {
  margin: 10px 0;
  height: 2%;
}

#isTyping {
  font-weight: bold;
  color: grey;
}

.newMessage {
  animation-name: appear;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}