<!DOCTYPE html>
<html>

<head>
    <title>ArcadiaA</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/a7c5182e0c.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    {{> header}}
    <div class="container-fluid main">
        {{{body}}}
    </div>
    {{> footer}}
</body>

</html>
