<div class="row chat-container">
  <div class="col-sm-10 messages-container">
    <div id="messages">
    </div>
    <div class="isTypingContainer">
      <span class="small" id="isTyping">
    </span>
    </div>
    <form action="" id="message-input-form">
      <div class="input-group">
        <textarea class="form-control custom-control" id="messageInput" placeholder="Tapez un message..."></textarea>
        <span class="input-group-addon btn btn-primary" id="sendMessage"><i class="fa fa-send"></i> Envoyer</span>
      </div>
    </form>
  </div>
  <div class="col-sm-2">
    <div class="hidden-xs">
      <h4>Utilisateurs connectés</h4>
      <ul class="list-group" id="connectedUsers">
      </ul>
    </div>
    <h4>Autres salles</h4>
    <ul class="list-group">
      <li class="list-group-item"><a href="#" class="switch" id="general">Général</a></li>
      <li class="list-group-item"><a href="#" class="switch" id="deck">Parlons peu, parlons decks</a></li>
      {{#if isChief}}
        <li class="list-group-item"><a href="#" class="switch" id="chief">Le chat des Chefs</a></li>
      {{/if}}
    </ul>
  </div>
</div>

<script src="/javascripts/chat.js"></script>
