{{#if isChief}}
  <ol class="breadcrumb">
    <li><a href="#" id="general">Général</a></li>
    <li><a href="#" id="chief">Le chat des Chefs</a></li>
  </ol>
{{/if}}

<div id="messages">
</div>

<div class="isTypingContainer">
  <span class="small" id="isTyping">
</span>
</div>

<form action="" id="message-input-form">
  <div class="input-group">
    <textarea class="form-control custom-control" id="messageInput" placeholder="Tapez un message..."></textarea>
    <span class="input-group-addon btn btn-primary" id="sendMessage"><i class="fa fa-send"></i> Envoyer</span>
  </div>
</form>

<script src="/javascripts/chat.js"></script>
