<ul class="list-group" id="messages-list"></ul>

<form action="">
  <div class="input-group">
    <input type="text" class="form-control" id="message">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="submit" id="submit"><i class="fa fa-send"></i></button>
   </span>
  </div>
</form>

<script src="/javascripts/chat.js"></script>
