{{#if hasMessages }}
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{#each messages}}
      <p class="text-center">
        {{this}}
      </p>
    {{/each}}
  </div>
{{/if}}

<div class="jumbotron">
  <h1>Bienvenue dans notre clan !</h1>
  <p>Quelques règles à respecter néanmoins...</p>
</div>
<div class="col-md-10 col-md-offset-1">
  <div class="row chest">
    <h1 class="text-center">Coffre de clan solo</h1>
    <div class="col-md-4">
      <h3 class="text-center">Membres</h3>
      <li class="list-group-item">Vous avez obligation de faire 20 couronnes.</li>
      <li class="list-group-item list-group-item-danger">Vous êtes <strong>exclu</strong> en dessous de 20 couronnes.</li>
      <li class="list-group-item list-group-item-warning">Ne demandez pas sans cesse à être ainé ! Vous le serez si vous respectez les règles</li>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Ainés</h3>
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Le grade d'Ainé est obtenu avec le premier Joker.</li>
        <li class="list-group-item">Vous le gardez tant que vous avez au moins 1 Joker.</li>
        <li class="list-group-item list-group-item-warning">Si vous avez en dessous de 20 couronnes : Perte d'un Joker.</li>
        <li class="list-group-item list-group-item-danger">Si vous perdez votre dernier Joker : <strong>Rétrogradation.</strong></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Jokers</h3>
      <ul class="list-group">
        <li class="list-group-item">Un joker se gagne par tranche de 20 couronnes à partir de 25 couronnes.</li>
        <li class="list-group-item">25 couronnes = 1 joker<br>45 couronnes = 2 jokers<br>65 couronnes = 3 jokers</li>
        <li class="list-group-item list-group-item-info">Limite de gain de 5 jokers par coffre (105 couronnes et +)</li>
        <li class="list-group-item list-group-item-warning">10 jokers maximum ! Impossible d'en stocker plus.</p>
        </li>
      </ul>
    </div>
        <div class="col-md-12">
    <hr>
    <h1 class="text-center">Coffre de clan (2 VS 2)</h1>
      <ul class="list-group">
        <li class="list-group-item">Ici tout le monde est à logé à la même enseigne. Personne ne sera <strong>exclu</strong>.</li>
        <li class="list-group-item list-group-item-info">Minimum de 5 couronnes par membre.</li>
        <li class="list-group-item list-group-item-success">Vous faites 5 couronnes ou plus : 1 joker en cadeau.</li>
        <li class="list-group-item list-group-item-warning">Vous faites moins de 5 couronnes : 1 joker en moins ou une rétrogradation mais <strong>pas d'exclusion.</strong></li>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-12">
  <h6 class="text-center"><i class="fa fa-code"></i> by <a href="https://github.com/thomlom" target="_blank">thomlom</a></h6>
</div>
