{{#if hasMessages }}
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{#each messages}}
      <p class="text-center">
        {{this}}
      </p>
    {{/each}}
  </div>
{{/if}}
<div>
  <h1 class="text-center">Bienvenue dans notre clan !</h1>
  <h3 class="text-center">Les règles</h3>
</div>
<div class="container rules">
  <div class="chest row">
    <div class="col-sm-6">
      <div class="title col-sm-4 col-sm-offset-4">
        <h3 class="text-center">Coffre de clan solo</h3>
        <img class="img-responsive img-rounded" src="/images/chest1.png" alt="Un coffre de Clash Royale">
      </div>
      <div class="col-sm-12 panel-group" id="accordion" style="margin-top: 10px">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Le système des jokers</a>
        </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">Un joker se gagne par tranche de 20 couronnes à partir de 25 couronnes.</li>
                <li class="list-group-item">25 couronnes : 1 joker</li>
                <li class="list-group-item">45 couronnes : 2 jokers</li>
                <li class="list-group-item">65 couronnes : 3 jokers</li>
                <li class="list-group-item">Limite de gain de 5 jokers par coffre (105 couronnes et +)</li>
                <li class="list-group-item">10 jokers maximum ! Impossible d'en stocker plus.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Membres</a>
        </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">Obligation de faire 20 couronnes.</li>
                <li class="list-group-item">En dessous de 10 couronnes : EXCLU</li>
                <li class="list-group-item">Entre 10 et 20 couronnes un membre ne sera pas exclu si le coffre est fait.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Ainés</a>
        </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">Le grade d'Ainé est obtenu avec le premier joker</li>
                <li class="list-group-item">Vous conservez ce grade tant que vous avez au moins 1 joker sinon : rétrogradation</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="title col-sm-4 col-sm-offset-4">
        <h3 class="text-center">Coffre de clan 2 VS 2</h3>
        <img class="img-responsive img-rounded" src="/images/chest2.png" alt="Un coffre de Clash Royale">
      </div>
      <div class="col-sm-12" style="margin-top: 10px">
        <ul class="list-group">
          <li class="list-group-item">Ici tout le monde est à logé à la même enseigne. Personne ne sera EXCLU.</li>
          <li class="list-group-item">Minimum de 5 couronnes par membre</li>
          <li class="list-group-item">Vous faites 5 couronnes ou plus : 1 joker en cadeau.</li>
          <li class="list-group-item">Vous faites moins de 5 couronnes : 1 joker en moins ou une rétrogradation mais PAS d'EXCLUSION !</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-sm-12 top">
      <div>
        <h3 class="text-center">Top 3 de la semaine</h3>
        <ul class="list-group">
      </div>
      <li class="list-group-item">Styc15 (26,5 couronnes)</li>
      <li class="list-group-item">Groot (20,5 couronnes)</li>
      <li class="list-group-item">Heisenberg (18 couronnes)</li>
      </ul>
      <h3 class="text-center">Bravo à vous <i class="fa fa-thumbs-up" aria-hidden="true"></i></h3>
    </div>
  </div>
</div>

<div>
  <h6 class="text-center"><i class="fa fa-code"></i> by thomlom</h6>
  <p class="text-center">
    <a style="color: black" href="https://github.com/thomlom" target="_blank"><i class="fa fa-2x fa-github"></i></a>
    <a style="color: black" href="https://twitter.com/thomas_lombart" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
  </p>
</div>
