{{#if hasMessages }}
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{#each messages}}
      <p class="text-center">
        {{this}}
      </p>
    {{/each}}
  </div>
{{/if}}

<h1 class="text-center">Salut, {{ username }}.</h1>
<div class="row">
  <div class="col-md-6">
    <h2>Bienvenue sur ton profil.</h2>
    <h4>Il est incomplet à l'heure d'aujourd'hui car Supercell n'autorise toujours pas l'accès à leurs données.</j4>
    <h4>Mais dès que cela sera possible, tu pourras voir tes stats ici!</h4>
  </div>
  <div class="col-md-6">
    <h2>Paramètres</h2>
    <form action="/user/delete" method="delete">
      <button type="button" class="btn btn-block btn-danger" id="buttonDeleteAccount">Je veux supprimer mon compte</button>
      <p class="help-block">Cette action est irréversible !</p>
    </form>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="/javascripts/profile.js"></script>
