{{#if hasPolls}}
  <ul class="list-group">
    {{#each polls}}
      <a class="list-group-item" href="/poll/{{this.id}}">{{this.title}}</a>
    {{/each}}
  </ul>
{{else}}
  <h1 class="still-nothing text-center">Il n'y a toujours pas de sondages <i class="fa fa-frown-o"></i></h1>
{{/if}}


{{#if isChief}}
  <div class="modal fade" id="addPoll" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content panel-warning">
        <div class="modal-header panel-heading">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4>Ajouter un sondage</h4>
        </div>
        <div class="modal-body">
          <form action="/poll/add" method="post">
            <div class="form-group">
              <label for="title">Titre :</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="A combien devons nous augmenter les trophées ?" required>
            </div>
            <div class="form-group">
              <label for="answers">Réponses :</label>
              <input type="text" class="form-control" id="answers" name="answers" placeholder="2800, 3000, 3200" required>
            </div>
            <button class="btn btn-primary btn-block" type="submit" name="button">Valider</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addPoll">
  Ajouter un nouveau sondage
</button>
{{/if}}
